 <div class="row">
  <center>
    <!-- Burgers you want to eat -->
    <div class="col-md-4">
      <h3 class="goodFont">Burgers Available</h3>
      <div id="burgersAvailable">

        <!-- Dynamically Add Burgers -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Now Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="col-md-4"></div> 

    <!-- Burgers you Ate -->
    <div class="col-md-4">
      <h3 class="goodFont">Burgers already Devoured</h3>
      <div id="alreadyEaten">

        <!-- Dynamically add Devoured Burgers -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>